@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* ========================= */
/* BASE START */

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(slike/net-pic-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(130deg, rgb(94, 40, 114) 85%, white 85%, white 88%, rgb(94, 40, 114) 88%, rgb(94, 40, 114) 91%, white 91%, white 94%, rgb(94, 40, 114) 94%, rgb(94, 40, 114) 97%, white 97%);
    box-shadow: 0px 8px 25px black;
}

nav {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.links a {
    text-decoration: none;
    font-size: 17pt;
    height: 100%;
    padding: 0em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    transition: color 0.5s, background-color 0.7s;
    color: white;
}

.links a:hover {
    color: rgb(94, 40, 114);
    background-color: rgb(255, 255, 255, 0.8);
}

.site-footer {
  width: 100%;
  background-color: rgb(94, 40, 114);
  color: white;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.site-footer a {
  color: rgb(214, 101, 255);
  text-decoration: none;
  font-size: 15px;
}

.site-footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgb(185, 185, 185);
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #cbd5e1;
}

.footer-cta-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.footer-cta {
  display: inline-block;
  padding: 12px 22px;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-cta:hover {
  background-color: rgb(75, 37, 88);
  transform: translateY(-2px);
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 202, 250);
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

#backToTop:hover {
  background-color: #d564c8;
  transform: translateY(-3px);
}

/* BASE END */
/* ========================= */

/* ========================= */
/* HOME START */

#home-first {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

#home-first main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 3em;
}

#home-first main h1 {
    font-size: 40pt;
    text-align: center;
}

#home-first main b {
    width: 50%;
    text-align: center;
    font-size: 20pt;
    font-family: "Delius", cursive;
}

#home-first main a {
    text-decoration: none;
}

#home-first main button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    border: 3px solid rgb(145, 43, 181);
    background-color: rgb(0, 0, 0, 0);
    padding: 0.7em;
    color: white;
    font-size: 20pt;
    border-radius: 25px;
    transition: all 0.5s;
    animation: bounce2 2s ease infinite;
}

#home-first main button:hover {
    animation: none;
    background-color: rgb(145, 43, 181);
    border: 3px solid white;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

#home-second {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-image: url(slike/net-pic-background3.jpg);
    box-shadow: 0px 10px 18px black;
}

#home-second div {
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    display: flex;
    justify-content: start;
    align-items: center;
}

#home-second main {
    width: 50%;
    color: white;
    font-size: 15pt;
    text-align: center;
    margin-left: 10rem;
    line-height: 1.5;
}

.between {
    height: 10vh;
    width: 100%;
}

.between div {
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

#home-third {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-image: url(slike/net-pic-background2.jpg);
    box-shadow: 0px 10px 18px black;
}

#home-third div {
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    display: flex;
    justify-content: start;
    align-items: center;
}

#home-third main {
    width: 50%;
    color: white;
    font-size: 15pt;
    text-align: center;
    margin-left: 10rem;
    line-height: 1.5;
}

#home-fourth {
    min-height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    color: rgb(47, 0, 67);
}

#home-fourth .first,
.second,
.third {
    width: 70%;
}

#home-fourth .first p,
strong {
    font-size: 17pt;
    text-align: center;
}

#home-fourth .second p {
    font-size: 17pt;
    text-align: center;
}

#home-fourth .second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

#home-fourth .second .second-hs {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#home-fourth .third p {
    font-size: 17pt;
    text-align: center;
}

#home-fourth .third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#home-fourth .third a{
    color: #dc12c4;
}

#home-fourth .third a:hover{
    color: #ff52eb;
}

/* HOME END */
/* ========================= */

/* ========================= */
/* ABOUT ME START */

#about-first {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    color: white;
}

#about-first main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

#about-first main h2 {
    font-size: 30pt;
    text-align: center;
    font-family: "Delius", cursive;
}

#about-first main p {
    width: 90%;
    text-align: center;
    font-size: 17pt;
    line-height: 1.6;
}

#about-second{
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    border-bottom: 5px solid rgb(47, 0, 67);
}

#about-second .left{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    font-size: 16pt;
    color: rgb(47, 0, 67);
}

#about-second .left h2{
    font-family: "Delius", cursive;
}

#about-second .right{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    font-size: 16pt;
    color: rgb(47, 0, 67);
}

#about-third{
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    gap: 5em;
    border-bottom: 5px solid rgb(47, 0, 67);
}

#about-third h2{
    font-size: 25pt;
    color: rgb(47, 0, 67);
    font-family: "Delius", cursive;
}

#about-third div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    line-height: 1.5;
    gap: 5em;
}

#about-third div p{
    width: 40%;
}

#about-fourth{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    gap: 3em;
    line-height: 1.5;
    border-bottom: 5px solid rgb(47, 0, 67);
}

#about-fourth h2{
    font-size: 25pt;
    color: rgb(47, 0, 67);
    font-family: "Delius", cursive;
}

#about-fourth .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#about-fourth .row .left,.middle,.right{
    width: 25%;
    font-size: 15pt;
    color: rgb(47, 0, 67);
}

#about-fifth{
    min-height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    gap: 4em;
}

#about-fifth h2{
    font-size: 30pt;
    color: rgb(47, 0, 67);
    font-family: "Delius", cursive;
}

#about-fifth .coach{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#about-fifth .coach .small{
    border-radius: 100px;
    border: 20px solid rgb(47, 0, 67);
    width: 10px;
    height: 10px;
}

#about-fifth .coach .big{
    background-image: url(slike/coach.jpg);
    background-size: cover;
    border-radius: 100px;
    border: 5px solid rgb(47, 0, 67);
    width: 200px;
    height: 200px;
}

#about-fifth ul{
    font-size: 16pt;
    color: rgb(47, 0, 67);
}

#about-fifth .semi-final{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    color: rgb(47, 0, 67);
    gap: 3em;
}

#about-fifth .final{
    font-size: 17pt;
    color: rgb(47, 0, 67);
    text-align: center;

}

/* ABOUT ME END */
/* ========================= */

/* ========================= */
/* SERVICES START */

#services-first{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

#services-first p{
    text-align: center;
    line-height: 2;
    font-size: 18pt;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    color: white;
}

#services-first p strong{
    font-size: 20pt;
}

#services-second{
    min-height: 120vh;
    width: 100%;
    color: rgb(47, 0, 67);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#services-second h1{
    font-size: 40pt;
}

#services-second .promise1{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#services-second .promise2{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#services-second .promise1 .promise1-child1{
    text-align: center;
    font-size: 20pt;
    line-height: 2;
    width: 40%;
}

#services-second .promise1 .promise1-child2{
    font-size: 16pt;
    line-height: 1.7;
    width: 40%;
}

#services-second .promise2 .promise2-child1{
    text-align: center;
    font-size: 20pt;
    line-height: 2;
    width: 40%;
}

#services-second .promise2 .promise2-child2{
    font-size: 16pt;
    line-height: 1.7;
    width: 40%;
}

#services-third{
    min-height: 150vh;
    width: 70%;
    border: 4px solid rgb(47, 0, 67);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(255, 255, 239, 0.5);
}

#services-third .frst-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

#services-third .frst-child h1{
    font-size: 35pt;
}

#services-third .frst-child strong{
    font-size: 20pt;
}

#services-third .frst-child b{
    font-size: 15pt;
}

#services-third .scnd-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#services-third .scnd-child h2{
    font-size: 25pt;
}

#services-third .scnd-child strong{
    font-size: 20pt;
}

#services-third .scnd-child p{
    width: 60%;
    font-size: 15pt;
    text-align: justify;
    line-height: 1.8;
}

#services-third .thrd-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#services-third .thrd-child h2{
    font-size: 25pt;
}

#services-third .thrd-child b{
    font-size: 20pt;
}

/* SERVICES END */
/* ========================= */

/* ========================= */
/* CONTACT START */

#contact-first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    font-family: "Montserrat", sans-serif;
}

#contact-first .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 50vh;
    background-color: rgba(255, 255, 239, 0.5);
    border-radius: 25px;
}

#contact-first .box .call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#contact-first .box .call .call-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#contact-first h4,a{
    font-size: 17pt;
}

#contact-first .box .email a{
    color: #dc12c4;
    text-decoration: none;
    transition: 0.5s all;
}

#contact-first .box .email a:hover{
    font-weight: 700;
    text-decoration: underline;
}

#contact-first .box .call .call-child a{
    color: #dc12c4;
    text-decoration: none;
    transition: 0.5s all;
}

#contact-first .box .call .call-child a:hover{
    font-weight: 700;
    text-decoration: underline;
}

#contact-first .box .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#contact-first .box .footer-cta{
    font-size: 18pt;
}